* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fafbfc;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    padding: 20px;
}

.header__icon {
    font-size: 40px;
}

main {
    margin: auto;
    padding: 30px 50px;
}

.card__input {    
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.line__input {
    display: grid;
    margin-bottom: 10px;
}

input {
   padding: 10px; 
   border: 1px solid blueviolet;
   border-radius: 3px;
   outline: 0;
}

button {
    border: none;
    padding: 10px;
    margin-top: 15px;
    margin-right: 7px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(99, 31, 163);
}

section {      
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
}

table th {
    background-color: rgb(235, 230, 230);  
}

table th, td {
    text-align: left;
    padding: 1px 5px;
}

.table__icon {
    font-size: 22px;    
    color: blueviolet;
    margin-left: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.table__icon:hover {       
    color: rgb(99, 31, 163)
}

.center {
    text-align: center;
}

/* Confirmaçoes de forms */

.icon_dialog, .icon_produto_duplicado {
    font-size: 22px;
}

.produto_cadastrado_sucesso {
    display: none;
    color: green;
    font-size: small;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 5px;
}

.produto_editado_sucesso {
    display: none;
    color: blue;
    font-size: small;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 5px;
}

.campos__invalidos {
    display: none;
    color: red;
    font-size: small;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 5px;
}

.produto-duplicado {
    display: none;
    color: goldenrod;
    font-size: small;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 5px;
}

.display__block {
    display: block;
}


/* MEDIA QUERIES  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main {
        margin: auto;
        padding: 30px 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        width: 980PX;
        margin: auto;
        padding: 30px;
    }
}
